.image-callouts {
    @media screen and (min-width: 768px) {
        margin: calc(3.4rem + 66 * ((100vw - 768px) / 1152)) 0;
    }

    @media screen and (min-width: 1920px) {
        margin: 10rem 0;
    }
}

.image-callouts[data-callouts="2"] .image-callouts__inner {
    padding: 0 2.5rem;
    position: relative;

    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.image-callouts__inner:after {
    content: '';
    display: block;
    clear: both;
}

.image-callouts[data-callouts="1"] .image-callouts__callout1 {
    background: #fff;
    padding: 3rem 4rem;
    box-sizing: border-box;
    position: relative;
    top: 6rem;
    margin-top: -6rem;
    max-width: 70vw;
    float: right;

    @media screen and (min-width: 768px) {
        max-width: 24%;
        left: 43%;
        top: 12vw;
        margin-top: -12vw;
        float: none;
        padding: calc(3.2rem + 48 * ((100vw - 768px) / 1152)) calc(3rem + 43 * ((100vw - 768px) / 1152));
    }

    @media screen and (min-width: 1920px) {
        top: 23.2rem;
        padding: 8rem 7.3rem;
        margin-top: -23.2rem;
    }
}

.image-callouts[data-callouts="2"] .image-callouts__callout1 {
    background: var(--color-lightest-grey);
    padding: 4.5rem;
    box-sizing: border-box;
    position: relative;
    top: 6rem;
    margin-top: -6rem;

    @media screen and (min-width: 768px) {
        max-width: 30%;
        left: 11.8%;
        top: 13.8vw;
        margin-top: -13.8vw;
        padding: calc(3.2rem + 24 * ((100vw - 768px) / 1152)) calc(3rem + 43 * ((100vw - 768px) / 1152));
    }

    @media screen and (min-width: 1920px) {
        top: 26.496rem;
        padding: 7.9rem 7.3rem;
        margin-top: -26.496rem;
    }
}

.image-callouts[data-callouts="1"] .image-callouts__callout1 p {
    font-weight: 400;
    @mixin fontOpenSans;
    line-height: 1.5em;

    @media screen and (min-width: 768px) {
        font-size: calc(1.4rem + 6 * ((100vw - 768px) / 1152));
    }

    @media screen and (min-width: 1920px) {
        font-size: 2.4rem;
    }
}

.image-callouts__callout1 p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 1em;

    @media screen and (min-width: 768px) {
        font-size: calc(1.4rem + 28 * ((100vw - 768px) / 1152));
    }

    @media screen and (min-width: 1920px) {
        font-size: 4.2rem;
    }
}

.image-callouts__callout1 p:last-child {
    margin: 0;
}

.image-callouts__callout2 {
    background: var(--color-red);
    padding: 4.5rem;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    margin-top: -4rem;

    @media screen and (min-width: 768px) {
        float: right;
        max-width: 37.5%;
        right: 0;
        bottom: 9.7vw;
        top: auto;
        margin-bottom: -9.7vw;
        margin-top: 0;
        padding: calc(3.2rem + 48 * ((100vw - 768px) / 1152)) calc(3rem + 43 * ((100vw - 768px) / 1152));
    }

    @media screen and (min-width: 1920px) {
        padding: 8rem 7.3rem;
        bottom: 18.6rem;
        margin-bottom: -18.6rem;
        max-width: 72rem;
    }
}

.image-callouts__callout2 p {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.3em;

    @media screen and (min-width: 768px) {
        font-size: calc(1.8rem + 20 * ((100vw - 768px) / 1152));
    }

    @media screen and (min-width: 1920px) {
        font-size: 4.2rem;
    }
}

.image-callouts__image:after {
    content: '';
    display: block;
    clear: both;
}

.image-callouts[data-callouts="1"] .image-callouts__image img {
    width: 93.42vw;
    vertical-align: bottom;

    @media screen and (min-width: 768px) {
        width: 57vw;
    }
}

.image-callouts[data-callouts="2"] .image-callouts__image img {
    width: calc(100% + 5rem);
    margin: 0 -2.5rem;
    vertical-align: bottom;

    @media screen and (min-width: 768px) {
        width: 80%;
        float: right;
        margin: 0;
    }
}