.main-header {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 7.8rem;
    padding: 0 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    transition: background 300ms ease-out;

    @media screen and (min-width: 768px) {
        height: 13.4rem;
        padding: 0 3.5rem;
    }
}

.main-header--scroll-up {
    position: fixed;
    transform: translateY(-100%);
    background-color: var(--color-blue);
}

.main-header--scroll-up.show {
    transform: translateY(0);
    transition: transform 300ms ease-out, background 300ms ease-out;

    .main-header__main-nav a {
        color: #fff;
    }

    .main-header__main-nav .btn {
        @mixin button #fff, var(--color-red), var(--color-red);
    }
}

.main-header__logo svg {
    width: 19.8rem;
    fill: var(--color-red);
}

.main-header__hamburger {
    @media screen and (min-width: 1024px) {
        display: none;
    }
}

.main-header__hamburger svg {
    fill: var(--color-red);
}

.main-header__main-nav {
    display: none;

    @media screen and (min-width: 1024px) {
        display: block;
    }
}

.main-header__main-nav ul {
    font-size: 0;
}

.main-header__main-nav li {
    @mixin fontOpenSans;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1.5rem;
    vertical-align: middle;

    @media screen and (min-width: 1200px) {
        font-size: 1.3rem;
        margin-right: 3rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        position: relative;
        overflow: hidden;
        display: block;

        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: .2rem;
            width: 100%;
            height: 40%;
            transform: translateX(-105%);
            transition: all ease 200ms;
            background: var(--color-red);
        }

        &.btn:after {
            display: none;
        }
    }

    a:hover:after,
    &.active a:after {
        transform: translateX(0);
    }
}