.main-footer {
  background: var(--color-blue);
  color: #fff;
  padding: 0 0 0 2.5rem;

  @media screen and (min-width: 768px) {
    padding: 0 0 0 11.8vw;
  }
}

.main-footer__inner {

}


.main-footer__image-copy {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.main-footer__copy {
  padding: 4rem;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    flex: 1 0 auto;
    align-self: center;
  }
}

.main-footer__copy-header {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1.5em;
  color: var(--color-red);
  letter-spacing: .2rem;

  @media screen and (min-width: 768px) {
    font-size: .833vw;
  }
}

.main-footer__copy-text {
  font-size: 2.4rem;
  line-height: 1.3em;
  font-weight: 700;
  margin-bottom: 1.5em;

  @media screen and (min-width: 768px) {
    font-size: 3.472vw;
  }
}

.main-footer__copy .btn {
  @mixin button #fff, var(--color-red), var(--color-red);
}

.main-footer__image {
  @media screen and (min-width: 768px) {
    height: 40vw;
    flex: 0 0 40vw;
    max-width: 40vw;
  }
}

.main-footer__image img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;

  @media screen and (min-width: 768px) {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
}

.main-footer__locations {
  color: var(--color-blue);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.main-footer__logo {
  padding: 2.5rem 2.5rem 2.5rem 4rem;

  @media screen and (min-width: 768px) {
    padding: 0 15.27vw 0 0;
  }
}

.main-footer__logo svg {
  width: 14.5rem;
  fill: var(--color-red);

  @media screen and (min-width: 768px) {
    width: 16.458vw;
  }
}

.main-footer__addresses {
  padding: 4rem 2.5rem 4rem 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background: var(--color-light-grey);
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  @media screen and (min-width: 768px) {
    order: 2;
    flex: 1 0 auto;
    padding: 3.472vw 3.472vw 3.472vw 7.638vw;
  }
}

.main-footer__address {
  flex: 0 0 50%;

  @media screen and (min-width: 768px) {
    flex: 0 0 auto;
    margin-right: 2.08vw;
  }
}

.main-footer__address-state {
  color: var(--color-red);
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: .5em;

  @media screen and (min-width: 768px) {
    font-size: 1.25vw;
  }
}

.main-footer__address-loc {
  font-size: 1.2rem;

  @media screen and (min-width: 768px) {
    font-size: .972vw;
  }
}

.main-footer__addresses .btn {
  display: none;

  @media screen and (min-width: 768px) {
    @mixin button var(--color-blue), var(--color-red), var(--color-red);
  }
}

.main-footer__base {
  background: var(--color-red);
  margin: 0 0 0 -2.5rem;
  padding: 3rem 0;
  text-align: center;

  @media screen and (min-width: 768px) {
    height: 4.166vw;
    margin: 0 0 0 -11.8vw;
    padding: 0 3.819vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__links {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    order: 2;
  }
}

.main-footer__footer-links {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.main-footer__footer-links li {
  margin: 0 0 1.5em 0;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

.main-footer__footer-links li a {
  color: #fff;
  text-decoration: none;
}

.main-footer__sm {
  margin: 0 0 3rem 0;

  @media screen and (min-width: 768px) {
    margin: 0;
  }
}

.main-footer__sm li {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__sm li a {

}

.main-footer__sm svg {
  fill: #fff;
  width: 3rem;
}

.main-footer__copyright {
  @media screen and (min-width: 768px) {
  }
}

.main-footer__copyright p {
  font-size: 1rem;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}