@define-mixin basicP {
    font-size: 1.4rem;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7em;

    @media screen and (min-width: 768px) {
        font-size: calc(1.4rem + 4 * ((100vw - 768px) / 1152));
    }

    @media screen and (min-width: 1920px) {
        font-size: 1.8rem;
    }

    a {
        color: var(--color-red);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@define-mixin basicList {
    font-size: 1.4rem;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    margin: 2em 0 2em calc(2rem + 3%);

    @media screen and (min-width: 768px) {
        font-size: calc(1.4rem + 4 * ((100vw - 768px) / 1152));
    }

    @media screen and (min-width: 1920px) {
        font-size: 1.8rem;
    }

    li {
        list-style: disc;
    }

    a {
        color: var(--color-red);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

@define-mixin fontBariol {
  font-family: 'Bariol', Helvetica, Arial, sans-serif;
}

@define-mixin fontOpenSans {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

@define-mixin button $color: var(--color-blue), $borderColor: var(--color-red), $arrowColor: var(--color-red), $bgColor: transparent {
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2.5rem;
    font-size: 1.2rem;
    @mixin fontOpenSans;
    font-weight: 700;
    display: inline-block;
    color: $color;
    border: 1.5px solid $borderColor;
    background: $bgColor;
    border-radius: 4.5rem;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: color ease-out 300ms;
    cursor: pointer;

    @media screen and (min-width: 992px) {
        height: calc(4.5rem + 13 * ((100vw - 992px) / 448));
        line-height: calc(4.5rem + 13 * ((100vw - 992px) / 448));
        border-radius: calc(4.5rem + 13 * ((100vw - 992px) / 448));
        font-size: calc(1.2rem + 4 * ((100vw - 992px) / 448));
        padding: 0 calc(2.5rem + 15 * ((100vw - 992px) / 448));
    }

    @media screen and (min-width: 1440px) {
        height: 5.8rem;
        line-height: 5.8rem;
        border-radius: 5.8rem;
        font-size: 1.6rem;
        padding: 0 4rem;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        left: -2px;
        top: -2px;
        width: 0;
        height: calc(100% + 4px);
        background: $borderColor;
        transition: width ease-out 300ms;
    }

    &:hover:before {
        width: calc(100% + 4px);
    }

    &:hover {
        color: #fff;

        svg {
            stroke: #fff;
            fill: #fff;
        }
    }

    span {
        position: relative;
        z-index: 1;
    }

    svg {
        fill: $arrowColor;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        transition: all ease-out 300ms;

        &.arrow {
            width: 1.7rem;
            position: relative;
            top: -.2rem;

            @media screen and (min-width: 768px) {
                width: 2.5rem;
            }
        }

        &.arrow-right {
             margin-left: 1rem;
        }
    }
}

@define-mixin input {
    @mixin fontOpenSans;
    border: 1px solid var(--color-light-grey);
    background: #fff;
    height: 4rem !important;
    line-height: 4rem !important;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
        height: 4.166vw !important;
        line-height: 4.166vw !important;
        padding: 0 1.73vw;
    }
}

@define-mixin bgGradient {
    background: var(--color-red)
    linear-gradient(
        transparent 0%,
        transparent 50%,
        #ffffff 50%,
        #ffffff 100%
    );
}