.mobile-nav {
    background: var(--color-red);
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
}

body.mobile-nav-active .mobile-nav {
    display: flex;
}

.mobile-nav__logo {
    height: 7.8rem;
    padding: 0 2.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.mobile-nav__logo svg {
    flex: 0 0 19.8rem;
    width: 19.8rem;
    fill: #fff;
}

.mobile-nav__nav {
    padding-left: 6.5rem;
    margin-bottom: 6rem;
}

.mobile-nav__nav-item {
    @mixin fontOpenSans;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

.mobile-nav__nav-link {
    color: #fff;
    text-decoration: none;
}

.mobile-nav__sm {
    padding-left: 6.5rem;
    font-size: 0;
}

.mobile-nav__sm-item {
    display: inline-block;
    margin-right: 1rem;
}

.mobile-nav__sm-link {
}

.mobile-nav__sm-svg {
    fill: #fff;
}

.mobile-nav__locations {
    background: var(--color-lightest-grey);
    display: flex;
    flex-wrap: nowrap;
    padding: 3rem 4rem;
    margin-left: 2.5rem;
    margin-top: auto;
}

.mobile-nav__location {
    flex: 0 0 50%;
}

.mobile-nav__location-state {

}

.mobile-nav__location-address {

}