@import "./../../node_modules/slick-carousel/slick/slick.css";

.team-profiles {
  overflow: hidden;
  margin: 6.5rem 0;

  @media screen and (min-width: 768px) {
    margin: calc(4.5rem + 55 * ((100vw - 768px) / 1152)) 0;
  }

  @media screen and (min-width: 1920px) {
    margin: 10rem 0;
  }
}

.team-profiles:after {
  content: '';
  display: block;
  clear: both;
}

.team-profiles__inner {
  padding: 0 0 0 2.5rem;

  @media screen and (min-width: 768px) {
    padding: 0 0 0 20vw;
  }
}

.team-profiles__header {
  margin-bottom: 4rem;

  @media screen and (min-width: 768px) {
    margin-bottom: calc(5.3rem + 80 * ((100vw - 768px) / 1152));
  }

  @media screen and (min-width: 1920px) {
    margin-bottom: 13.3rem;
  }
}

.team-profiles__slider .slick-list {
  overflow: visible;
}

.team-profiles__slider .slick-slide {
  max-width: 19rem;
  width: 100%;
  outline: none;

  @media screen and (min-width: 768px) {
    max-width: calc(20.3rem + 303 * ((100vw - 768px) / 1152));
  }

  @media screen and (min-width: 1920px) {
    max-width: 50.6rem;
  }
}

.team-profiles__slider .slick-list li {
  padding: 0 1.5rem 0 0;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 0 2.5rem 0 0;
  }
}

.team-profiles__headshot {
  margin-bottom: 1.5rem;

  @media screen and (min-width: 768px) {
    margin-bottom: 2rem;
  }
}

.team-profiles__headshot img {
  max-width: 100%;
}

.team-profiles__name {
  margin-bottom: .3em;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.team-profiles__title {
  font-size: 1.6rem;
  color: var(--color-red);

  @media screen and (min-width: 768px) {
    font-size: 2.4rem;
  }
}

.team-profiles__slider-nav {
  width: calc(100% - 2.5rem);
  height: .6rem;
  margin-top: 4rem;
  position: relative;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: calc(46.4rem + 696 * ((100vw - 768px) / 1152));
    margin-top: calc(4.2rem + 64 * ((100vw - 768px) / 1152));
  }

  @media screen and (min-width: 1920px) {
    margin-top: 10.6rem;
    max-width: 116rem;
  }
}

.team-profiles__slider-nav:before {
  content: '';
  display: block;
  margin-top: .2rem;
  height: .2rem;
  background: #bebebe;
}

.team-profiles__slider-handle {
  height: .6rem;
  background: var(--color-red);
  position: absolute;
  left: 0;
  top: -.2rem;
  transition: left ease 300ms;
}